nav.header {
    width           : 100%;
    height          : var(--header-height);
    background-color: #fff;
    box-shadow      : 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    z-index         : var(--z-front);
    position        : fixed;
    display         : inline-block;
    top             : 0;
    z-index         : var(--z-front);
}


.header .header-container {
    display        : flex;
    justify-content: space-between;
    font-size      : var(--small-font-size);
}

.header .header-logo {
    max-width : 60%;
    margin-top: 2px;
}